# dependencies
/node_modules

# next
/.next
/out

# testing
/coverage
/playwright-report
/test-results

# local
.DS_Store
*.pem

# env
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# Supabase local
/supabase/.branches
/supabase/.temp
